<!doctype html>
<!-- [if IE]><html class="ie"><![endif]-->
<html>

<head>
    <title>DoraCMS内容管理系统</title>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta name="description" content="前端开发俱乐部">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="author" type="text/plain" href="">
    <link href="https://cdn.bootcss.com/element-ui/2.3.7/theme-chalk/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/e20f3015a2.css">
    <script src="https://cdn.bootcss.com/babel-polyfill/7.0.0-beta.3/polyfill.min.js"></script>
<link href="/static/css/admin.1faa7da.css" rel="stylesheet"></head>

<body>
    
            <input type='hidden' id='cateValue' value='{{manageCates}}'>
            
                <div id="app"></div>
<script type="text/javascript" src="/static/js/manifest.a83c3f5.js"></script><script type="text/javascript" src="/static/js/element.6fcebfe.js"></script><script type="text/javascript" src="/static/js/vendor.be9f2aa.js"></script><script type="text/javascript" src="/static/js/admin.7c14f87.js"></script></body>

</html>